.controls-container {
    position: absolute;
    bottom: 30px;
    width: 100%;
    text-align: center;
}

.controls {
    display: inline-grid;
    grid-template-columns: repeat(3, auto [col-start]);
    grid-gap: 50px;

    div {
        font-size: 50px;
        background-color: #fff9ae;
        width: 75px;
        height: 75px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border: 1px solid #000;

        svg {
            position: relative;
        }

        &.fast-forward svg {
            left: 3px;
        }

        &.rewind svg {
            right: 3px;
        }

        &.play-pause {
            .fa-play {
                left: 5px;
            }

            .fa-pause {
                left: 1px;
            }
        }
    }
}


