.controls-container {
    position: absolute;
    bottom: 0;
    padding: 10px 0 25px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    text-align: center;

    &.hide, .hide {
        display: none;
    }
}

.controls {
    display: block;

    div {
        display: inline-flex;
        font-size: 50px;
        margin: 0 50px;
        background-color: #fff9ae;
        width: 75px;
        height: 75px;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border: 1px solid #000;

        svg {
            position: relative;
        }

        &.fast-forward svg {
            left: 3px;
        }

        &.rewind svg {
            right: 3px;
        }

        &.play-pause {
            .fa-play {
                left: 5px;
            }

            .fa-pause {
                left: 1px;
            }
        }
    }
}

.duration {
    padding-bottom: 5px;
    color: #fff9ae;
    font-family: Arial;
    letter-spacing: 0.5px;
    font-size: 14px;
}

.progressbar-container {
    margin: 0 auto 20px;
    width: 80%;
    border-radius: 7px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);

    .progressbar {
        height: 15px;
        background-color: #1da598;
    }
}
